---
import "@fontsource/press-start-2p";
import "../globals.css";

import Game from "@/components/game.astro";
import { Image } from "astro:assets";
import leftSideRoadImage from "~/public/assets/left_side_road.png";
import rightSideRoadImage from "~/public/assets/right_side_road.png";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>

	<body class="bg-[#00c0f0] text-white">
		<div
			class="flex flex-col items-center justify-center min-h-screen h-[100svh]"
		>
			<div
				class="relative group h-full flex items-center"
				draggable="false"
				oncontextmenu="return false"
				onselectstart="return false"
				ondragstart="return false"
			>
				<div class="z-10bg-black w-10 h-10"></div>
				<!-- <Image src={leftSideRoadImage} alt="" class={" "} /> -->

				<Game />
				<div class="z-10bg-black w-10 h-10"></div>

				<!-- <Image src={rightSideRoadImage} alt="" /> -->
			</div>
		</div>
	</body>
</html>

<style>
	* {
		font-family: "Press Start 2P", monospace;
	}

	.bg-sea {
		background: url("/assets/sea_bg.png") no-repeat center center fixed;
	}
</style>
