---
import "../globals.css";

import Sketch from "@/components/sketch.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-gray-900 text-white">
		<div class="flex flex-col items-center justify-center min-h-screen">
			<h1 class="text-5xl mb-5">
				astro + <span class="font-bold text-[#f47a9e]">P5</span>
			</h1>

			<div class="relative group">
				<span
					class="absolute top-1/2 w-full text-2xl text-center group-hover:opacity-0 transition-opacity text-[#f47a9e]"
					>Hover me</span
				>
				<Sketch />
			</div>
		</div>
	</body>
</html>
